# Environment variables template
# Copy this file to .env and fill in your API keys

OWM_KEY=fc91c7e705d1f635a75e1363fab19e3c
FSQ_KEY=KDJX12CCXLU1CR5V5BWYXIWQIKRF5X503GT3U4MJ3IWLMQDA

# if needed from foursquare
# Client Id
# FWGQGZV1REVT2K5P0ARNYEMWFES5BGZS3LNG31DH4FU0F2PU

# Client Secret
# R0KJFSK40VQIZOSJ3TX4CA3BJJAZLLHHXRVWHWQSRW2AEIB2